@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .search-panel {
    justify-content: center;
    background: #e5f1f5;
    border-radius: 5px;
    min-height: 200px;
    padding: 20px;
    width: 500px;
  }
  .item {
    height: 50px;
    padding: 10px;
    width: 50%;
    form {
      min-width: 300px;
    }
  }
  .search {
    display: flex;
    /* height: 200px; */
    align-items: baseline;
  }

  .result {
    padding: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    min-height: 200px;
  }
}
