@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;

  div {
    //max-width: 50%;
    //min-width: 50%;
    justify-content: center;
    background: #e5f1f5;
    border-radius: 5px;
    width: 300px;
    min-height: 200px;
    padding: 20px;
  }
}
