<div class="main">

  <div class="search-panel">

    <div class="search">

      <div class="item">

        <h2>Last time search</h2>
        <button (click)="getLastSearch()" *ngFor="let city of lastSearchCity">{{city.name}}</button>
        <button (click)="getLocation()">Get by current location</button>
      </div>

      <div class="item">

        <h2>New search</h2>

        <form class="example-form">
          <input type="text"
                 placeholder="Search for a city"
                 [formControl]="control"
                 [matAutocomplete]="auto">
          <mat-autocomplete
            #auto="matAutocomplete">
            <mat-option
              (onSelectionChange)="setCoordinates(city)"
              [ngStyle]="{ display : city === 'undefined' ? 'none' : '' }"
              *ngFor="let city of filteredStreets | async" [value]="city.name">
              city:  {{city.name}}
              country: {{city.country}}
            </mat-option>
          </mat-autocomplete>
          <button (click)="getWeather($event)">Get weather</button>
        </form>

      </div>
    </div>
    <br>
    <br>
    <hr>
    <div class="result">
      <span class="elem-results" *ngFor="let elem of result.main | keyvalue">{{ elem.key }}: {{ elem.value }}</span>

    </div>
  </div>
</div>
<pre>


{{ result.name | json}}
</pre>
